.navbar {
  padding: 1rem;
  padding-left: 5rem;
  padding-right: 5rem;
  background-color: white;
  box-sizing: border-box;
  z-index : 1000;

  @media screen and (min-width: 2400px) {
    padding: 2rem;
  }

  @media screen and (min-width: 3200px) {
    padding: 3rem;
    padding-left: 10rem;
    padding-right: 10rem;
  }

  @media screen and (max-width: 992px) {
    padding-left: 1rem;
    padding-right: 1rem;
  }

}

.row {
  margin: 0;
  padding: 0;
}

.Intro .column,
.Intro-slider,
.Offer,
.About {
  height: 90vh;
  min-height: 600px;

  @media screen and (min-width: 1400px) {
    height: 93vh;
    min-height: 600px;
  }
  padding: 0;
}

.Offer {
  width : 100%;
  background-color: var(--grey);
  box-sizing: border-box;
  height: 105vh;

  @media screen and (max-width : 992px) {
    height : auto;
  }

  @media screen and (min-width : 2400px) {
    height : 93vh;
  }

  @media screen and (min-width : 3200px) {
    height : auto;
  }
}

.About {
  @media screen and (max-width : 992px) {
    height : auto;
  }
}

