* {
    font-family: 'Inter', sans-serif;
    color : black;
    box-sizing: border-box;
    padding : 0;
    margin : 0;
}

:root {
    --beige: #DCC1AB;
    --green: #1B5B31;
    --grey: #F5F0EC;
    --dark: #111111;
}