.Footer {
  &__separator,
  &__contactInfo,
  &__contact,
  &__rights {
    margin-top: 3rem;
    margin-bottom: 3rem;

    @media screen and (min-width: 3200px) {
      margin-top: 7rem;
      margin-bottom: 7rem;
    }
  }

  &__contact {
    @media screen and (max-width: 992px) {
      flex-direction: column;
      align-items: start;
      justify-content: flex-start;
    }
    &__logo {
      img {
        height: 1.5rem;

        @media screen and (min-width: 2400px) {
          height: 2rem;
        }

        @media screen and (min-width: 2400px) {
          height: 3rem;
        }
      }

      @media screen and (max-width: 992px) {
        flex-direction: column;
        align-items: start;
        justify-content: center;
        width: 100%;
        margin-bottom: 1rem;
      }
    }
    &__right {
      @media screen and (max-width: 992px) {
        width: 100%;
      }
      p {
        color: var(--grey);

        @media screen and (max-width: 992px) {
          margin-right: 1rem;
        }

        @media screen and (min-width: 2400px) {
          font-size: 1.25rem;
        }

        @media screen and (min-width: 3200px) {
          font-size: 1.6rem;
        }

        button {
          color: var(--grey);
          background-color: var(--green);
          border: none;
          padding: 1rem;
          padding-left: 1.2rem;
          padding-right: 1.2rem;
          border-radius: 3rem;
          margin-left: 1.5rem;

          transition : background-color 250ms;

          @media screen and (max-width: 992px) {
            margin-left: 0;
            margin-top: 1rem;
          }

          @media screen and (max-width: 992px) and (min-width: 700px) {
            margin-left: 1rem;
          }

          @media screen and (min-width: 3200px) {
            padding: 1.6rem;
            padding-left: 2rem;
            padding-right: 2rem;
            border-radius: 4rem;
            margin-left: 2.5rem;
          }
        }

        button:hover {
          background-color: var(--lightGreen);
        }
      }
    }
  }

  &__separator {
    width: 100%;
    height: 0.1rem;
    background-color: var(--grey);

    @media screen and (min-width: 2400px) {
      height: 0.15rem;
    }

    @media screen and (min-width: 3200px) {
      height: 0.25rem;
    }
  }

  &__contactInfo {
    @media screen and (max-width: 992px) {
      flex-direction: column;
      align-items: start;
      justify-content: center;
    }
    &__links {
      a {
        color: var(--grey);
        text-decoration: none;
        margin-right: 3rem;

        @media screen and (min-width: 2400px) {
          font-size: 1.25rem;
        }

        @media screen and (min-width: 3200px) {
          font-size: 1.6rem;
        }
      }

      @media screen and (max-width: 992px) {
        width: 100%;
        display: flex;
        justify-content: center;

        a {
          margin: 0;
          margin-right: 0.3rem;
          margin-left: 0.3rem;

          @media screen and (max-width: 320px) {
            margin-right: 0.3rem;
            margin-left: 0.3rem;
            font-size: 0.8rem;
          }

          @media screen and (min-width: 2400px) {
            font-size: 1.25rem;
          }

          @media screen and (min-width: 3200px) {
            font-size: 1.6rem;
          }
        }
      }
    }

    &__other {
      p {
        color: var(--grey);
        margin-left: 3rem;

        @media screen and (min-width: 2400px) {
          font-size: 1.25rem;
        }

        @media screen and (min-width: 3200px) {
          font-size: 1.6rem;
        }
      }

      @media screen and (max-width: 992px) {
        width: 100%;
        display: flex;
        flex-direction: column;

        margin-top: 1rem;

        p {
          margin: 0;
          margin-top: 1rem;
        }
      }
    }
  }

  &__rights {
    margin-top: 10rem;
    p {
      color: var(--grey);

      @media screen and (min-width: 2400px) {
        font-size: 1.25rem;
      }

      @media screen and (min-width: 3200px) {
        font-size: 1.6rem;
      }
    }

    &__creator {
      p {
        color: var(--grey);

        @media screen and (min-width: 2400px) {
          font-size: 1.25rem;
        }

        @media screen and (min-width: 3200px) {
          font-size: 1.6rem;
        }

        img {
          margin-left: 1rem;
        }
      }
    }

    @media screen and (max-width: 992px) {
      width: 100%;
      flex-direction: column;
    }
  }
}
