.Gallery {
    &__images {
        width : 100%;
        justify-content: space-between;

        .image {
            width : 30%;

            img {
                width : 100%;            
            }
        }
    }
}