.Intro {
  .column {
    img {
      width: 100%;
      height: 56rem;
      object-fit: cover;
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
    }
  }

  &__left {
    * {
        margin-top : 2rem;
        margin-bottom: 2rem;
        margin-left : 5rem;
    }

    h1 {
        max-width : 65%;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size : 5rem;
    }

    p {
        max-width : 50%;
        font-size : 1.25rem;
    }
  }
}
