.navbar-nav {
  width: 100%;
  li > * {
    color: black;
  }
  li {
    margin-right: 0rem;
    cursor: pointer;
  }

  .listItem {
    position: relative;
    transition: transform 250ms;

    a {
      color: black;
    }
  }

  .listItem::after {
    width: 100%;
    height: 5%;
    background-color: var(--dark);
    content: "";
    display: block;
    position: absolute;
    transform: translateY(-300%) scaleX(0);
    transition: transform 250ms;
  }

  .listItem:hover {
    transform: translateY(-5%);

    a {
      color: black;
    }
  }

  .listItem:active {
    a {
      color: black;
    }
  }

  .listItem:hover::after {
    transform: translateY(-300%) scaleX(1);
  }

  .dropdownListItem {
    margin-right: 0;
  }

  @media screen and (min-width: 992px) {
    li {
      margin-right: 2rem;
    }
  }

  @media screen and (min-width: 2400px) {
    li {
      margin-right: 3rem;
    }

    li > * {
      font-size: 1.5rem;
    }

    li > img {
      height: 2rem;
    }
  }

  @media screen and (min-width: 3200px) {
    li {
      margin-right: 4rem;
    }

    li > * {
      font-size: 2.5rem;
    }

    li > img {
      height: 3rem;
    }
  }
}

.navbar-brand {
  padding-left: 1rem;
  @media screen and (min-width: 2400px) {
    height: 2.5rem;
  }

  @media screen and (min-width: 3200px) {
    height: 4rem;
  }

  img {
    height: 100%;
  }
}

.navbar-toggler-icon {
  height: 90%;

  .toggler-icon-stripe {
    width: 2rem;
    background-color: black;
    height: 0.25rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
  }
}
