.search-bar {
    position : fixed;
    top : 7%;
    right : 0;
    background-color: white;
    padding : 1rem;
    z-index: -1;
    opacity : 1;

    transition: transform 250ms, opacity 250ms;
    will-change: transform, opacity;
}

.search-bar-hidden {
    transform : translateY(-200%);
    opacity : 0;
}