.GalleryPopup {
    width : 100%;
    height : 100vh;
    min-height: 600px;
    background-color: #333333a8;
    top: 0;

    &__images {
        width : calc(8/12 * 100%);
        &__image {
            max-width : calc(6/12 * 100%);
            position: absolute;
        } 
    }
}